
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

<h2 style="margin: 5% 10%">O pracy</h2>
<p style="margin: 5% 10%">
    Aplikacja webowa "System detekcji słuchu muzycznego u dzieci" powstała jako praca inżynierska Agaty Tokarskiej
    na Wydziale Inżynierii Biomedycznej Politechniki Śląskiej w Gliwicach na kierunku Inżynieria Biomedyczna - specjalność
    "Informatyka i Aparatura Medyczna". Styczeń 2020.
</p>

