@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="wwwroot/css/style.css" type=text/css rel=stylesheet>
    <title>Index</title>
</head>
<body>
<div style="margin:6%">
    Nie wiesz czy Twoje dziecko ma słuch muzyczny?
</div>
<div style="margin:6%">
    Rozpocznij test i sprawdź!
</div>
<a href="/Test/BeginTest/1">
    <div class="container1">
        <p>Rozpocznij test</p>
    </div>
</a>




</body>
</html>



