@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Strona główna</title>
</head>
<body>
<div style="margin:6%;font-size:20px; color:#9bc8c3">
    Nie wiesz, czy Twoje dziecko<br />ma słuch muzyczny?
<br /><br />Rozpocznij test i sprawdź!
</div>


<div class="startbtn">
    <a href="/Questionnaire" id="start">ROZPOCZNIJ</a>
</div>




</body>
</html>



