 /*Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. 
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

 Wrapping element 
 Set some basic padding to keep content from hitting the edges 
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

 Carousel 
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

 Make .svg files in the carousel display properly in older browsers 
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

 QR code generator 
#qrCode {
    margin: 15px;
}

 Hide/rearrange for smaller screens 
@media screen and (max-width: 767px) {
     Hide captions 
    .carousel-caption {
        display: none;
    }
}*/

/*{margin:0;
    padding: 0}*/

body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
    color: #073B4C;
    background-color: #FFD166;
}


.topnavbar {
    background-color: #FFD166;
    width: 100%;
    margin: 0;
    height: 60px;
}
    /*.navigation-bar img{
    float:left;
    vertical-align: middle;
}*/

    .topnavbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        top: 0;
        width: 100%;
        font-size: large;
        font-weight: normal;
    }

    .topnavbar li a {
        display: block;
        color: #073B4C;
        text-align: center;
        padding: 30px 100px;
        text-decoration: none;
        float: left;
        font-weight: 700;
    }

        .topnavbar li a:hover {
            color: #EF476F;
        }


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #EF476F;
    color: #FFD166;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
}

.container1 {
    margin: auto;
    height: 8em;
    width: 35%;
    position: relative;
    background-color: #073B4C;
}

    .container1:hover {
        background-color: #118AB2;
    }


    .container1 p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        color: #ffd166
    }

.question {
    margin: 10%;
}

    .question p1 {
        font-size: x-large;
        text-align: center;
    }

    .question p2 {
        font-size: medium;
        text-align: center;
    }

.answbutton {
    margin: 0 auto;
    height: 4em;
    width: 10em;
    position: relative;
    background-color: #073B4C;
    font-size: 20px;
    color: #ffd166;
    text-decoration: none;
    font-family: 'Comfortaa';
}

    .answbutton:hover {
        background-color: #118AB2;
    }


    .answbutton span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        color: #ffd166;
        text-decoration: none;
        font-family: 'Comfortaa';
    }

.answs {
    width: 30em;
    margin: 0 auto;
    display: flex;
}

#audio{
    margin: 0 auto;
    display:flex;
}