@model MusHearingDetect.Models.Audiofile
@{
    Layout = "~/Views/Shared/_QuestionLayout.cshtml";
}

@section QuestionTitle {
    @Model.Question.Title 
}
@section QuestionDescription {
    @Model.Question.Description
}

@section Answers{
<div class="answs">
    @using (Html.BeginForm("Question", "Test", FormMethod.Post))
    {
        <input type="submit" name ="firstbtn" value="@Model.Question.FirstAnswer.AnswerTxt" class="answbutton" />
        <input type="submit" name ="secondbtn" value="@Model.Question.SecondAnswer.AnswerTxt" class="answbutton" />
    }
</div>
}

