@model MusHearingDetect.Models.Question
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";

}

<div id="result">
    Liczba poprawnych odpowiedzi: @ViewBag.Count/20. <br/>
    Twój wynik to: @ViewBag.Result%
</div>